{{ define "main" }}
    <main aria-role="main">
        <div class="homepage-content">
            {{ range (readDir "./static/gen/v1") }}
                <article class="cf ph3 ph5-l pv3 pv4-l f4 lh-copy mid-gray">
                    <h1 style="text-decoration: underline;">{{ substr (.Name | humanize | title) 0 -4 }}</h1>
                    <table class="w-100 center tc-l">
                        <thead>
                        <tr>
                            <th class="w-20"></th>
                            <th class="w-20"></th>
                            <th class="w-40"></th>
                            <th class="w-20"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ $url := print "./static/gen/v1/" .Name }}
                        {{ $sep := "," }}
                        {{ range $i, $r := getCSV $sep $url }}
                            <tr>
                                <td style="text-align: left;"><strong>{{ index $r 0 }}</strong></td>
                                <td style="text-align: left;"><i>{{ index $r 1 }}</i></td>
                                <td style="background-color: {{ index $r 5 }}"></td>
                                <td style="text-align: center;"><i>{{ index $r 6 }}</i></td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </article>
            {{end }}
        </div>
    </main>
{{ end }}
