name: Bead Colors CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          submodules: "recursive"
      - name: Test
        uses: docker://golang:latest
        with:
          entrypoint: /bin/sh
          args: |
            -c "\
            cd generation/ && go test ./...
      - name: Test Generation
        uses: docker://golang:latest
        with:
          entrypoint: /bin/sh
          args: |
            -c "\
            cd generation/ && go run ./... ../raw ../gen
      - name: Generation
        uses: docker://golang:latest
        if: "contains(github.ref, 'master') && !contains(toJSON(github.event.commits.*.msg), '[skip-ci]')"
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          entrypoint: /bin/sh
          args: |
            -c "\
            cd generation/ && \
            go run ./... ../raw ../gen && \
            cd .. && \
            git config --global --add safe.directory /github/workspace
            git config --global user.email 'action@github.com' && \
            git config --global user.name 'GitHub Action' && \
            git add gen/ && \
            git commit --allow-empty -m 'chore(ci): update' -m '[skip-ci]' && \
            git push origin master"
      - name: Bump version and push tag
        id: tagging
        uses: anothrNick/github-tag-action@master
        if: "contains(github.ref, 'master') && !contains(toJSON(github.event.commits.*.msg), '[skip-ci]')"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          tags:
            - maxcleme/beadcolors:${{ steps.tagging.outputs.new_tag }}
            - maxcleme/beadcolors:latest
          push: true
